# cache directory
es_cache=~/.es

# hook routine to handle event
_include "p/hint.sh"

# prompt event
export PS1="\033[0m\u@\h: \033[33m(es>${_psi:="-i-"}\033[33m)\033[36m\W\033[0m \$ "
function ui_(){
local uic=$(_dw_query "ui")
local st="\033[32m$(map $uic get ts)\033[33m::\033[35m$(map $uic get vc)"
export PS1=${PS1/"$_psi"/$st}
_psi=$st
}

# vc event
function vc_(){
hint "vc" $(_dw_query "vc")
}

# ts event
function ts_(){
local tips=""
for e in $(map $(_dw_query ts) kset); do 
tips="$tips,$e"
done
hint "ts" "$tips"
}
 
# cd event
_include "util/stack.sh"
function cd_(){
_invoke_1c "source $(_root)/builtin/sh.vc"
}

### misc definition ###
source ~/.es/rc

