# hook routine to handle event
# prompt event
export PS1="\033[0m\u@\h: \033[33m(es>${_psi:="-i-"}\033[33m)\033[36m\W\033[0m \$ "
function hint_(){
local hints=$(_dw_query "hint")
local st="\033[32m$(map $hints get ts)\033[33m::\033[35m$(map $hints get vc)"
export PS1=${PS1/"$_psi"/$st}
_psi=$st
}

# vc event
function vc_(){
source hint "vc" $(_dw_query "vc")
}

# ts event
function ts_(){
local tips=""
for e in $(map $(_dw_query ts) kset); do 
tips="$tips,$e"
done
source hint "ts" "$tips"
}

# cd event
function d_(){
source .vc $(pwd)
}
